

@font-face {
    font-family: 'Cute Notes','Adobe Gothic Std','Kozuka Gothic Pro';
    src: url("KozGoPro-Regular.otf") format('otf');
    src: url("AdobeGothicStd-Bold.otf.otf") format('otf');
    src: url("Cute Notes.ttf") format('ttf');
    
}


@import "bootstrap/scss/bootstrap" 
